html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    scroll-behavior: smooth;

    &.no-scroll {
        overflow: hidden;
    }
}

header,
footer {
    flex-grow: 0;
}

main {
    flex-grow: 1;
}